@model ems.Models.Staffs
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asp.net Core by techspace</title>
</head>
<body>
    <h1><u>@ViewBag.PageTitle</u></h1>
    <table class="table">
    <thead>
    <tr>
     <th>Name</th>
     <th>Email</th>
     <th>Department</th>
     </tr>
     </thead>
     <tbody>
     
        <tr>
        <td>
        
        @Model.Name
        </td>
         <td>
        @Model.Email
        </td>
         <td>
        @Model.Department
        </td>
        </tr>


     </tbody>

    </table>

    
</body>
</html>